# cl.exe use 1033 (English) language package
# you need to install the English language pack in the Visual Studio Installer for it to take effect.
build --action_env=VSLANG=1033

# C/C++ build options
build --copt=/WX
build --copt=/W4
build --copt=/MD

# C++ exclusive build options
build --cxxopt=/EHs-c-
build --cxxopt=/GR-

# Debug build options
build:debug --compilation_mode=dbg
build:debug --copt=/D_DEBUG

# Release build options
build:release --compilation_mode=opt
build:release --copt=-O2
