# Google style
---
BasedOnStyle: Google
IndentWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
SortIncludes: true
ColumnLimit: 80
...
